In [7]:
# Importamos las dependencias necesarias.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import sklearn_pandas
from matplotlib import gridspec
import pytz
import random
import os

In [13]:
# Importamos el dataset.
dataset = pd.read_csv('Lung_Cancer.csv',encoding='UTF-8')

dataset.sample(5)

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
2542,F,46,2,2,2,1,1,1,1,1,2,2,1,1,2,YES
2732,F,69,2,2,2,1,2,2,2,1,1,2,2,1,2,NO
2464,M,41,2,2,2,1,2,2,2,2,1,1,1,1,1,NO
2474,M,73,1,2,2,1,1,1,2,2,2,2,1,1,2,NO
1713,M,60,1,1,1,2,1,2,2,1,2,1,1,2,2,YES